*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Helvetica", "Segoe UI", "Tahoma", sans-serif;
  --accent-color: #2374e2;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

.sidebar,
.header,
.main-content {
  border: 1px solid black;
}

.sidebar {
  grid-area: sidebar;
  padding: 15px;
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  gap: 50px;

  .logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    .logo {
      width: 30px;
      filter: brightness(200%);
    }

    .page-title {
      font-size: 1.4rem;
      color: white;
    }
  }

  .sidebar-section {
    line-height: 2.5rem;
    a {
      font-size: 1.2rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 15px;
      text-decoration: none;
      color: white;
      .link-icon {
        width: 25px;
        filter: invert();
      }
    }
  }
}

.header {
  grid-area: header;
}

.main-content {
  grid-area: main;
}
